//
// global-footer
// ---------------------------------------------------

/* STRUCTURE

#global-footer
  .container
    .footer-sitemap.row
    .footer-utility.row
*/


// Base
// ---------------------------------------------------

#global-footer {
  border-top: 1px solid $color-border-light;
  padding: $margin-v-subchapter 0 $margin-v-chapter;
  color: $color-gray;

  [role=contentinfo] small {
    font-family: $font-family-alphanumeric;
  }
}
