//
// category-header
// ---------------------------------------------------


.category-header {
  background-color: #fff;
  width: 100%;
  //border-bottom: 1px solid rgba(0,0,0,0.1);
  @include box-shadow(0 1px 0 0 rgba(0,0,0,0.1));
  z-index: 1;
  position: relative;
}

.category-navigation {
  max-width: $container-width + ($container-padding-side * 2);
  width: 100%;
  height: $caterogy-header-height;
  margin: 0 auto;
  position: relative;
  display: table;
  padding: 0 $col-gutter-half + $container-padding-side;
  @include mediaquery-sm {
    padding: 0 $col-gutter-half-sm + $container-padding-side-sm;
    height: $header-height-compact;
  }

}

.cnav-title {
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.4;
  display: table-cell;
  vertical-align: middle;
  padding: 12px 100px 10px 0;

  @include mediaquery-sm(){
    padding-right: 10px;
    font-size: $font-size-base;
  }
}

.cnav-menu-toggle {
  display: none;
}

.cnav-group-title {
  display: block;
  padding: 10px 0 2px;
  font-size: $font-size-large;
  color: $color-gray-darker;
  pointer-events: none;
}

.cnav-group-title-link {
  display: block;
  padding: 10px 0 2px;
  font-size: $font-size-large;
  color: $color-gray-darker;
  @include hover-and-touched() {
    color: $color-gray-light;
  }
}

.cnav-group-subtitle {
  display: block;
  margin-bottom: 10px;
}


.cnav-group-content {
  margin: 15px 0;
  //outline: red 1px solid;
  list-style: none;
  font-size: $font-size-small + 1;

  li {
    margin: 10px 0;
  }

  a {
    color: $color-gray;
    text-decoration: none;
    padding: 5px;
    margin: -5px;
    position: relative;
      display: inline-block;
      letter-spacing: .05em;
    @include transition(all .1s $easeOutCubic);

    &:hover {
      @include opacity(0.7);
      text-decoration: underline;
    }
  }
}



@include mediaquery-not-sm(){

  .cnav-menu-toggle {
    display: inline-block;
    position: absolute;
    top: 0;
    height: $header-height;
    //width: 140px;
    text-decoration: none;
    font-size: $font-size-small;
    color: $color-black;
    letter-spacing: 0.2em;
    background-size: 22px 12px;
    padding: 20px 26px 20px 10px;
    right: $col-gutter-half + $container-padding-side;

    &::after {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -9px;
      content: "";
      background: url(/img/common/icon_arrow_down_black.png) left top no-repeat;
      background-size: 20px;
      @include transition(all .2s $easeOutCubic);
    }

    &:hover {
      @include opacity(.7);
      text-decoration: none;
    }

    &:active,
    &.touched {
      &::after {
        margin-top: -6px;
        @include transition(all .05s $linear);
      }
    }

    &.active {
      &::after {
        @include rotate(180deg);
      }
    }
  }

  .cnav-menu {
    max-width: $container-width + $container-padding-side + $col-gutter-half;
    padding: 0 $col-gutter-half + $container-padding-side;
    margin: 0 auto;
    @include perspective(300px);
    @include perspective-origin(50% 50%);
    @include transform-style(preserve-3d);

    body.sitemap & {
      margin-left: -$col-gutter;
      margin-right: -$col-gutter;
    }
  }
  
  .cnav-menu-container {
    margin: 40px 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-right: 1px solid rgba(0,0,0,0.1);
    @include transform-origin(50% 0);
  }

  .cnav-menu-col {
    display: table-cell;
    width: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 30px;
    vertical-align: top;
  }

  .category-footer {
    display: none;
    body.sitemap & {
      display: block;
    }
  }

  .cnav-group {
    &:first-child {
      margin-top: -10px;
    }
    &:last-child {
      margin-bottom: -20px;
    }
  }

  .cnav-group-content {
    ul {
      margin-bottom: 20px;
    }

    &.offset-top {
      top: 40px;
      padding-bottom: 20px;
      position: relative;
    }
  }
  
}

@include mediaquery-sm() {

  //smではカテゴリヘッダー非表示
  .category-header.open .cnav-menu {
    display: none;
  }

  //init
  .category-footer {
    padding: 40px $col-gutter-half-sm + $container-padding-side-sm 0;
    background-color: #f7f7f7;

    body.sitemap & {
      background: #fff;
      margin-left:  -$container-guide-sm;
      margin-right: -$container-guide-sm;
    }
  }

  .cnav-menu {
    padding-bottom: 40px;

    body.sitemap & {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .cnav-menu-col {

    &:first-child {
      border-top: 1px solid #e5e5e5;
      .cnav-group:first-child {
        .cnav-group-title {
          margin-top: -1px;
        }
      }
    }

    &:last-child {
      border-bottom: 1px solid #e5e5e5;
      .cnav-group-content:last-child {
        li:last-child {
          margin-bottom: 10px;
        }
      }
    }

  }
  
  .cnav-group-subtitle {
    margin-bottom: 15px;
  }

  .cnav-group-content {

    margin: 0;
    overflow: hidden;

    li:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      color: $color-gray-slightly-light;
      -webkit-tap-highlight-color: rgba(0,0,0,0.08);

      &:hover {
        text-decoration: none;
        color: #000;
      }

      &.current {
        padding-left: 23px;
        color: #000;
        pointer-events: none;
        &::before {
          width: 8px;
          height: 1px;
          background-color: #000;
          position: absolute;
          left: 5px;
          top: 12px;
          content: "";
        }
      }

    }

  }

  .cnav-group-title {
    border-top: 1px solid #e5e5e5;
    padding: 8px 0 8px 2px;
    font-size: $font-size-large - 1;
    color: #000;

    & + .cnav-group-content {
      margin: 0;
      padding-left: 10px;
      ul {
        margin-bottom: 20px;
      }
      > * {
        &:first-child { margin-top:    15px; }
        &:last-child  { margin-bottom: 15px; }
      }
    }
  }


  .cnav-group {
    line-height: $line-height-narrow;

    a {
      &:hover {
        text-decoration: none;
      }
    }

    //アコーディオンタイプの場合
    &.expandable {

      .cnav-group-content {
        display: none;
        //margin: 0;
        //@include transition(all .1s $easeOutCubic);
      }


      //&.open {
      //  .cnav-group-content {
      //    margin: 15px 0;
      //  }
      //}

      .cnav-group-title {
        pointer-events: auto;
        background: url(/img/common/icon_plus_gray.png) right center no-repeat;
        background-size: 20px;
        padding-right: 23px;

        &.touched {
          background-color: rgba(0,0,0,0.05);
          border-top-color: #d6d6d6;
          @include transition(background-color .2s $easeOutCubic);
        }
      }

      //かつopen時
      &.open {
        .cnav-group-title {
          background-image: url(/img/common/icon_minus_gray.png);
        }
        .cnav-group-content {
          display: block;
        }
      }

    }
  }


}
