//
// global-footer
// ---------------------------------------------------

/* STRUCTURE

#global-footer
  .container
    .footer-sitemap.row
    .footer-utility.row
*/


// Base
// ---------------------------------------------------

#global-footer {
  border-top: 1px solid $color-border-light;
  padding-bottom: $margin-v-subchapter;
  color: $color-gray;
}
