//
// global-header
// ---------------------------------------------------

/* STRUCTURE

 #global-header
   .skip-navigation
   .global-navigation
     .gnav-container
       .gnav-main
         .gnav-home
         .gnav-menu-toggle
       .gnav-menu
         .gnav-tab
         .gnav-category
         .gnav-search
   .gnav-subcategory-list (メガメニュー)
   .gnav-modal

*/


// Base
// ---------------------------------------------------

.skip-navigation {
  @include sr-only();
  @include sr-only-focusable();
  outline: none;
  background-color: $color-gray-lightest;
  display: block;
  //@include transition(all .1s $easeOutCubic);

  span {
    display: inline-block;
    text-decoration: underline;
    border: 1px dotted #000;
    font-size: 10px;
    padding: 7px 5px;
    margin: 0 10px;
  }

  &:active,
  &:focus {
    padding: 10px 0;
  }
}

#global-header {
  line-height: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-fixed-header;
  @include transition(all .2s $easeOutCubic);
}

.gnav-menu-toggle,
.gnav-tab {
  display: none;
}

.global-navigation {
  background-color: #fff;
  height: $header-height;
  @include box-shadow(0 1px 0 0 rgba(0,0,0,0.15));
  @include transition(all .2s $easeOutCubic);
}

.gnav-container {
  margin: 0 auto;
  position: relative;
  width: auto;
  height: 100%;
  max-width: $container-width + ($container-padding-side * 2); // 1080 + (8*2) = 1024
  padding: 0 ($col-gutter-half + $container-padding-side);
}

.gnav-main {
  height: auto;
}


// コーポレートロゴ
// ---------------------------------------------------

.gnav-home {
  position: relative;
  display: inline-block;
  top: 8px;
  margin: 0;
  padding: 0;
  @include transition(top .2s $easeOutCubic);

  a {
    display: block;
    padding: 10px;
    width: 112px;
    height: 36px;
    margin-left: -10px;
    @include tap-highlight-color(rgba(255,255,255,0.4));
    @include text-hide();
    //font-size: 0.001%;
    //color: transparent;
    //line-height: 0.001;
  }

  img {
    display: block;
    @include mediaquery-sm() {
      width: 72px;
      height: 16px;
    }
  }
}

// カテゴリーリスト
// ---------------------------------------------------

.gnav-category {
  position: absolute;
  height: 100%;
  right: $col-gutter-half + $container-padding-side;
  top: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  @include clearfix;
  @include transition(height .2s $easeOutCubic);
}

.gnav-category-item {
  margin: 0;
  float: left;
  height: 100%;

  a {
    display: block;
    font-size: 14px;
    height: 100%;
    color: $color-black;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 21px 12px 0;
    position: relative;
    @include transition(padding-top .1s $easeOutCubic);

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%; //80%;
      height: 0;
      background-color: transparent;
      margin: 0 auto;
      bottom: -1px;
      left: 0;
      right: 0;
      @include transition(all .1s $linear);
      z-index: $zindex-fixed-header;
    }

    &:hover {
      color: $color-gray-slightly-light;
      &::after {
        width: 100%;
        height: 2px;
        background-color: #141414 !important;
        @include transition(all .2s $easeOutCubic);
      }
    }

  }

  &.store {
    position: relative;
    margin-left: 12px;
    padding-left: 12px;
    padding-right: 6px;

    &::before {
      position: absolute;
      width: 1px;
      height: 22px;
      left : 0;
      background-color: rgba(0,0,0,0.15);
      top: 17px;
      display: block;
      content: "";
      @include transition(top .2s $easeOutCubic);
    }

  }

  &.search a {
    background-size: 15px 15px;
    width: 50px;
    cursor: pointer;
    @include text-hide();
    margin: 0 -12px 0 0;
    text-align: center;

    .icon-search {
      margin: 0 auto;
      margin-top: -3px;
      display: block;
      background: transparent url(/img/common/gnav_icon_search.png) 0 -30px no-repeat;
      background-size: 20px 50px;
      width: 20px;
      height: 20px;
      @include transition(background-position .1s $easeOutCubic);
    }

  }
}


// 検索ボックス
// ---------------------------------------------------

.gnav-search {
  display: none;
  z-index: -1;
  background: $color-white;
  position: absolute;
  right: $container-padding-side + 1;
  top: 0;
  padding: 0;
  margin-top: $header-height + 1;
  @include transition(margin-top .2s $easeOutCubic);
  @include box-shadow(0 0 0 1px rgba(0,0,0,0.15));

}

.gnav-search-form {
  display: block;
  vertical-align: top;
  @include clearfix();
}

.gnav-search-label {
  font-size: 0;
  color: transparent;
  visibility: hidden;
  display: none;
}

.gnav-search-text,
.gnav-search-submit {
  @include appearance(none !important);
  display: block;
  float: left;
  border: none;
  letter-spacing: 0.1em;

  &:focus {
    //outline: none;
  }
}

.gnav-search-text {
  outline: none;
  font-family: $font-family-base;
  color: $font-color-basic;
  width: 270px;
  padding: 0 5px 0 20px;
  height: 50px;
  letter-spacing: 0;
  background-color: #fff;

}

.gnav-search-submit {

  @include text-hide();
  width: 49px;
  height: 50px;
  border: 15px solid $color-white;
  background: transparent url(/img/common/gnav_icon_search.png) 0 -30px no-repeat;
  background-size: 20px 50px;
  @include transition(all .1s $easeOutCubic);
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
  }

}




// モーダル
// ---------------------------------------------------

.gnav-modal {
  display: none;
  background-color: rgba(#333, 0.2);
  width: 100%;
  height: 150%;
  position: fixed;
  z-index: -1;
}


// サブカテゴリリスト(メガメニュー)
// ---------------------------------------------------

.gnav-subcategory {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  @include box-shadow(inset 0 1px 0 0 rgba(0,0,0,0.1), 0 1px 0 0 rgba(0,0,0,0.1));
}

.gnav-subcategory-list {
  display: none;
  font-size: $font-size-small;
  line-height: 1.3;
  
  ul {
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    width: 100%;
    max-width: $container-width - $col-gutter-half - $container-padding-side;
    height: auto;
    text-align: center;

    li {
      position: relative;
      text-align: center;
      display: table-cell;
      padding: 35px 15px 20px;
      vertical-align: top;

      &::before {
        width: 1px;
        height: 96px;
        background: #e5e5e5;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 35px;
      }

      &:last-child::after {
        width: 1px;
        height: 96px;
        background: #e5e5e5;
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 35px;
      }
    }

    a {
      display: inline-block;
      background-color: #fff;
      text-decoration: none;
      color: $color-gray-darkest;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: auto 100%;
      @include transition(all .1s $easeInOutExpo);
      vertical-align: bottom;
      text-align: center;

      .image {
        width: 96px;
        height: 96px;
        overflow: hidden;
        margin: 0 auto 10px;
        img {
          @include transition(all .2s $easeOutCubic);
        }
      }

      .title {
        min-height: 2.5em;
      }

      &:hover {
        color: $color-gray;
        img {
          //@include scale(1.08);
          @include opacity(0.7);
          @include transition(all .2s $easeInOutCubic);
        }
      }

    }
  }

  .gnav-subcategory-parent {
    display: block;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.08);
    color: $color-gray-darkest;
    padding: 16px;
    @include transition(background-color .5s $easeOutCubic);
    text-align: center;

    &:hover {
      color: $color-gray;
      background-color: #f7f7f7;
      text-decoration: none;
    }

  }

  //3つ以下の場合 .few 追加
  &.few {
    ul {
      width: auto;
    }
    li {
      width: 260px;
    }
  }

}


//
// モードごとのスタイル
// ---------------------------------------------------

#global-header {

  // メガメニュー表示時
  // ---------------------------------------------------
  &.open {
    .global-navigation {
      background-color: #f7f7f7;
    }

    .gnav-modal,
    .gnav-subcategory {
      display: block;
    }
  }

  &.fonts    .gnav-subcategory-list.fonts,
  &.products .gnav-subcategory-list.products,
  &.culture  .gnav-subcategory-list.culture,
  &.support  .gnav-subcategory-list.support,
  &.about    .gnav-subcategory-list.about {
    display: block;
  }

  &.fonts    .gnav-category-item.fonts,
  &.products .gnav-category-item.products,
  &.culture  .gnav-category-item.culture,
  &.support  .gnav-category-item.support,
  &.about    .gnav-category-item.about {
    a {
      color: $color-gray-slightly-light;

      &::after {
        width: 100%;
        height: 2px;
        background-color: #141414 !important;
        @include transition(all .2s $easeOutCubic);
      }
    }
  }


  // 検索ボックス表示時
  // ---------------------------------------------------
  &.search {
    .global-navigation {
      background-color: #f7f7f7;
    }

    .gnav-category-item {
      a {
        &::after {
          background-color: rgba(0,0,0,0.2);
        }
      }

      &.search {
        a {
          &::after {
            width: 100%;
            height: 2px;
            background-color: #141414;
          }
          .icon-search {
            background-position: 0 0;
            @include opacity(0.5);
          }
        }

      }
    }

    .gnav-search {
      display: block;
    }

  }

}



//カレント表現
body.fonts    .gnav-category-item.fonts,
body.products .gnav-category-item.products,
body.culture  .gnav-category-item.culture,
body.support  .gnav-category-item.support,
body.about    .gnav-category-item.about,
body.store    .gnav-category-item.store {

  a {
    color: $color-gray-slightly-light;
    &::after {
      width: 100%;
      height: 2px;
      background-color: #141414;
    }
  }

}

//カレントかつ他フォーカス時
body.fonts    .open .gnav-category-item.fonts,
body.products .open .gnav-category-item.products,
body.culture  .open .gnav-category-item.culture,
body.support  .open .gnav-category-item.support,
body.about    .open .gnav-category-item.about,
body.store    .open .gnav-category-item.store {

  a {
    &::after {
      background-color: $color-gray-lighter;
    }
  }

}


// コンパクトモード
// ---------------------------------------------------

@mixin global-header-compact {

  .global-navigation {
    height: $header-height-compact;
  }

  .gnav-container {
    max-width: 100%;
    width: 100%;
    height: $header-height-compact;
    margin: 0 auto;
    padding: 0;
  }

  .gnav-main {
    background-color: $color-white;
    width: 100%;
    height: $header-height-compact;
    z-index: $zindex-fixed-header;
    position: relative;
  }

  .gnav-home {
    top: 8px;
    left: ($container-padding-side + $col-gutter-half);
  }

  .gnav-menu-toggle {

    position: relative;
    float: right;
    width: $header-height-compact;
    height: $header-height-compact;
    display: block;
    text-align: center;
    margin: 0;
    @include text-hide();

    padding: ($header-height-compact - 20)/2;

    .icon-menu {
      display: block;
      background: url(/img/common/gnav_icon_menu.png) 0 -30px no-repeat;
      background-size: 20px 50px;
      @include transition(all .1s $easeOutCubic);
      width: 20px;
      height: 20px;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%; //80%
      height: 0;
      background-color: transparent;
      margin: 0 auto;
      bottom: -1px;
      left: 0;
      right: 0;
      @include transition(all .1s $linear);
    }
  }

  .gnav-menu {
    display: none;
    position: relative;
    z-index: $zindex-fixed-header - 1;
  }

  .gnav-tab {
    clear: both;
    display: block;
    marign: 0;
    padding: 0;
    width: 100%;
    background: #fff;
    @include clearfix();
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .gnav-tab-item {
    margin: 0;
    list-style: none;
    float: left;
    width: 50%;
    position: relative;

    .gnav-tab-button {
      width: 100%;
      display: block;
      text-align: center;
      padding: 15px 10px;
      text-decoration: none;
      position: relative;
      color: $font-color-basic;
      cursor: pointer;

      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%; //80%
        height: 0;
        background-color: transparent;
        margin: 0 auto;
        bottom: -1px;
        left: 0;
        right: 0;
        @include transition(all .1s $linear);
      }

    }

    &:first-child {
      &::after {
        position: absolute;
        width: 1px;
        height: 24px;
        top: 10px;
        right: 0;
        content: "";
        display: block;
        background-color: rgba(0,0,0,0.15);
      }
    }

  }

  .gnav-category,
  .gnav-search {
    display: none;
  }

  .gnav-category {
    text-align: left;
    position: relative;
    left: 0;
    top: 0;
    height: auto;
    background-color: $color-white;
    //@include box-shadow(0 1px 0 0 rgba(0,0,0,0.1));

    padding: 20px 16px 60px;
  }

  .gnav-category-item {
    float: none;

    &.store {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      &::before,
      &::after {
        display: none;
      }
    }

    &.search {
      display: none;
    }

    a {
      border-bottom: 1px solid $color-gray-lightest;
      padding: 20px 20px 20px 5px;
      background: url(/img/common/icon_arrow_right_gray.png) right center no-repeat;
      background-size: 9px 16px;

      &::after {
        display: none;
        @include transition(none);
      }

    }

  }

  .gnav-search {
    position: relative;
    right: auto;
    top: 0;
    margin-top: 0;
    @include box-shadow(0 1px 0 0 rgba(0,0,0,0.1));

    &::before,
    &::after {
      display: none;
    }
  }

  .gnav-search-text {
    width: calc(100% - 50px);
    font-size: $font-size-large;
  }

  .gnav-search-submit {
    width: 50px;
  }

  .gnav-subcategory,
  .gnav-modal {
    display: none;
  }


  // コンパクトモード:メニュー表示時
  // ---------------------------------------------------
  &.open {
    .gnav-main {
      background-color: #f7f7f7;
      box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    }

    //ハンバーガーボタン
    .gnav-menu-toggle {

      .icon-menu {
        background-position: 0 0;
      }

      &::after {
        width: 100%;
        background-color: #141414;
        height: 2px;
      }

    }

    //ドロップダウンメニュー
    .gnav-menu {
      display: block;
    }

    //メニュー切り替えタブ
    &.category .gnav-tab-category,
    &.search   .gnav-tab-search {
      pointer-events: none;
      cursor: default;
      .gnav-tab-button {
        color: $color-gray-slightly-light;
        &::after {
          background-color: #141414;
          height: 2px;
          width: 100%;
        }
      }
    }

    //タブパネル
    &.category .gnav-category,
    &.search   .gnav-search {
      display: block;
    }

    //モーダル
    .gnav-modal {
      display: block;
      background-color: #fff;
    }


  }// /.compact.open
}// /.compact


#global-header {

  // コンパクトモード実行
  // ---------------------------------------------------
  @media (max-width: $breakpoint-header-compact) {
    @include global-header-compact();
  }

  html.touch &,
  &.compact {
    @include global-header-compact();
  }

  // thinモード
  // ---------------------------------------------------

  &.thin {
    .global-navigation,
    .gnav-category{
      height: $header-height-thin;
    }
    .gnav-home {
      top: 0px;
    }
    .gnav-category-item {
      a {
        padding-top: 13px;
      }
      &.store::before {
        top: 9px;
      }
    }
    .gnav-search {
      margin-top: $header-height-thin + 1;
    }

  }

  // hiddenモード
  // ---------------------------------------------------

  &.hidden {
    display: block !important;

    &:not(.open) {
      top: -$header-height;
    }
  }


}








