//
// global-header
// ---------------------------------------------------



// Base
// ---------------------------------------------------

.skip-navigation {
  @include sr-only();
  @include sr-only-focusable();
  outline: none;
  background-color: $color-gray-lightest;
  display: block;
  //@include transition(all .1s $easeOutCubic);

  span {
    display: inline-block;
    text-decoration: underline;
    border: 1px dotted #000;
    font-size: 10px;
    padding: 7px 5px;
    margin: 0 10px;
  }

  &:active,
  &:focus {
    padding: 10px 0;
  }
}

#global-header {
  line-height: 1;
  width: 100%;
  //position: fixed;
  //top: 0;
  //left: 0;
  //z-index: $zindex-fixed-header;
  border-bottom: 1px solid $color-border-light;
  @include transition(all .2s $easeOutCubic);
}

.global-navigation {
  h1 {
    font-size: $font-size-large;
    color: $color-brand-main;
    margin: 1em 0;
  }
}
