.badge {
  background-color: #f45b4d;
  display: inline-block;
  font-size: 8px;
  line-height: 1;
  padding: .3em .8em;
  border-radius: .8em;
  color: #fff;
  vertical-align: text-bottom;
  top: -1px;
  position: relative;
  margin-left: .5em;
}


