//
// Lists
// -------------------------

ul {
  list-style: none;
}

ol,
.list-ol {
  margin: $margin-v-subchapter 0 $margin-v-subchapter+10px;
  li {
    list-style-position: inside;
    padding-left: 1.6em;
    text-indent: -1.4em;
    margin: .5em 0;
  }
}

.list-style-none {
  li {
    margin: .5em 0;
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }
}

.list-ul,
.list-square {
  margin: $margin-v-subchapter 0 $margin-v-subchapter;
  @include list-style-square();
  li {
    margin: .5em 0;
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }
  .col > &:last-child {
    margin-bottom: 0;
  }
}

.list-style-none {
  @include list-style-none();
}

.list-links {
  border-top: 3px solid $color-border-light;
  border-bottom: 3px solid $color-border-light;
  padding: $margin-v-subchapter 0;
  margin: $margin-v-chapter 0;
  list-style: none;
  li {
    margin: 1em 0;
  }
  a {
    display: inline-block;
    margin-left: 0;
    @include mediaquery-sm(){
      display: block;
    }
  }
  //@extend .list-style-none;
  @include list-style-none();
}

.list-inline {
  @include list-style-none();
  margin-left: -5px;

  > li {
    display: inline-block;
    margin-top: .25em;
    margin-bottom: .25em;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.list-links-inline {
  overflow: hidden;
  li {
    display: inline-block;
    line-height: $line-height-narrower;
    border-left: 1px solid $color-border-light;
    margin: 5px 1.1em 5px -0.85em;
    padding-left: .75em;
    &:last-child {
      margin-right: 0;
    }
  }

  &.wide {
    li {
      margin-bottom: 1em;
      margin-right: 1.6em;
      margin-left: -1.15em;
      padding-left: 1.15em;
    }
  }
}

// Description Lists

.list-dl {
  line-height: $line-height-narrow;

  dt {

  }

  dd {
    margin-bottom: .5em;
  }
}

@include mediaquery-not-sm() {
  .list-dl.horizontal {
    dt {
      width: 10%;
      padding-right: 10px;
      float: left;
      clear: left;
      //@include text-ellipsis();
    }
    dd {
      width: 90%;
      float: left;
      clear: right;
      //overflow: hidden;
    }

    @for $i from 1 through 12 {
      &.dt-#{$i} {
        dt {
          width: #{$i*10%};
        }
        dd {
          width: #{100-($i*10%)};
        }
      }
    }
  }
}


// accordion list
.list-accordion {
  border-top: 1px solid $color-border-light;
  .item {
    border-bottom: 1px solid $color-border-light;
  }
  .head {
    @include clearfix();
    position: relative;
    padding: $margin-v-chapter 9em $margin-v-chapter 0;

    .icon {
      float: left;
      line-height: $line-height-base;
      letter-spacing: 0;
    }
    .text {
      margin: 0;
      overflow: hidden;
    }
    .toggle {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -1.7em;
      padding: 1em 2em 1em 1em;
      background: url(/img/shared/icon_arrow_down_blue.png) right center no-repeat;
      background-size: 18px auto;
      @include tap-highlight-color(rgba(255,255,255,0.4));
      &:active {
        background-position: right 1.3em;
      }
      .hidden-not-active {
        display: none;
      }
      &.active {
        background-image: url(/img/shared/icon_arrow_up_blue.png);
        .hidden-not-active { display: inline; }
        .hidden-active     { display: none;   }
      }
    }

    @include mediaquery-sm() {
      padding: $margin-v-chapter-sm 0 ($margin-v-chapter-sm - 5) 0;
      .toggle {
        &:active {
          background-position: right center;
        }
      }
    }
  }
  .content {
  }
}

// list-accordion のfaqタイプ
.list-faq {
  .question {
    padding-bottom: $margin-v-chapter;
    .text {
      margin-left: 3.5em;
    }
    @include mediaquery-sm() {
      padding-bottom: $margin-v-chapter-sm - 5;
      .toggle {
        position: relative;
        clear: both;
        top: 0;
        right: auto;
        left: 0;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: .5em;
        margin-top: 0.5em;
        margin-left: 3em;
      }
    }
  }

  .answer {
    border-top: 1px solid $color-border-light;
    background-color: $color-almost-white;
    padding: 2.5em 3.5em;
    @include clearfix();
    .icon {
      float: left;
      color: #2a5caa;
      line-height: $line-height-base;
      padding-right: .3em;
    }
    p {
      margin: 0;
    }

    @include mediaquery-sm() {
      padding: 1.5em 2em;
    }
  }
}

