//
// Block Content
// --------------------------------------------------

.block-content {
  .text,
  .bc-wysiwyg {
    ul {
      margin: $margin-v-subchapter 0;
      @include list-style-square();
    }
  }
}

.bc-related-link {
  h2 {
    display: none;
  }
}

// 複数ファイルダウンロード
.bc-files-row {
  margin-top: $margin-v-subchapter;
  margin-bottom: $margin-v-subchapter;
  li {
    margin: .7em 0;
  }
  a {
    display: inline-block;
  }
}

.bc-wysiwyg {
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
  /*
  width: 100%;
  max-width: 100%;
  */
}
