//
// accordion
// --------------------------------------------------

.accordion {
  .accordion-inner {
    display: none;
    overflow: hidden;
  }


  &.open {
    .accordion-inner {
      display: block;
    }
  }
}